.li_ext_wrap {

}

a.li_ext_icon {
  text-decoration:none;
  border:none;
  display:none;
}

a.li_ext_icon:hover{
  text-decoration:none;
  border:none;
}

a.li_ext_icon img{
  vertical-align:middle;
  padding-left:5px;
}